*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f4f4;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    width:400px;
    background:#fff;
    padding:20px;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

h2{
    text-align:center;
    margin-bottom:20px;
}

.input-box{
    display:flex;
    gap:10px;
}

input{
    flex:1;
    padding:10px;
    border:1px solid #ccc;
    border-radius:5px;
}

button{
    padding:10px 18px;
    border:none;
    background:#e53e7e;
    color:#fff;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#b80c7c;
}

ul{
    margin-top:20px;
    list-style:none;
}

li{
    background:#eee;
    padding:10px;
    margin-bottom:10px;
    border-radius:5px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.delete{
    background:red;
    color:white;
    border:none;
    padding:5px 10px;
    border-radius:5px;
    cursor:pointer;
}