*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f4f4;
}

nav{
    background:#111;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 60px;
}

nav h2{
    font-size:28px;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-size:18px;
    padding:8px 14px;
    border-radius:5px;
    transition:0.3s;
}

nav ul li a:hover,
nav ul li a.active{
    background:white;
    color:#0077ff;
}

.container{
    text-align:center;
    margin-top:120px;
}

.container h1{
    font-size:45px;
    margin-bottom:20px;
}

.container p{
    font-size:20px;
    color:#555;
}